
.button {
    border: 1px solid #706f6b;
    color: inherit;
    background-color: transparent;
    margin-left: 5px;
    &--submit{
      &:hover{
      background-color: #42e3c8;
    }
    }
    &:hover{
      background-color: #42e3c8;
    }
  }
