//  .link {
//     color: inherit;
//     text-decoration: inherit;
//   }
  .list {
    &--category{
        width: 40%;
        margin-right: 10px;
    }
    &--toDo{
        width: 60%;
    }
    &--scroll{
      overflow-y: scroll;
      overflow-x: auto;
        padding-right: 10px;
        height: 500px;
    }
  }
  .categoryAddForm{
    margin-bottom: 20px;
    &--left{
        text-align: right;
        margin-right: 10px;
    }
    }